In [3]:
import numpy as np
import pandas as pd
from pandas import Series

In [4]:
obj = Series([2,4,6,8])
obj

0    2
1    4
2    6
3    8
dtype: int64

In [5]:
obj.values

array([2, 4, 6, 8])

In [6]:
obj.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [7]:
ww2_cas = Series([12300,14400,2350,23556,235000], index=['USSR', 'Germany', 'China', 'Japan', 'USA'])
ww2_cas

USSR        12300
Germany     14400
China        2350
Japan       23556
USA        235000
dtype: int64

In [8]:
ww2_cas['USA']

235000

In [13]:
ww2_cas[2400 < ww2_cas]

USSR        12300
Germany     14400
Japan       23556
USA        235000
dtype: int64

In [14]:
'USSR' in ww2_cas

True

In [16]:
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'China': 2350, 'Germany': 14400, 'Japan': 23556, 'USA': 235000, 'USSR': 12300}

In [17]:
ww2_series = Series(ww2_dict)
ww2_series

China        2350
Germany     14400
Japan       23556
USA        235000
USSR        12300
dtype: int64

In [18]:
countries = ['USA', 'China', 'Germany', 'Japan', 'Argentina', 'USSR']

In [20]:
obj2 = Series(ww2_dict, index=countries)
obj2

USA          235000
China          2350
Germany       14400
Japan         23556
Argentina       NaN
USSR          12300
dtype: float64

In [21]:
pd.isnull(obj2)

USA          False
China        False
Germany      False
Japan        False
Argentina     True
USSR         False
dtype: bool

In [22]:
pd.notnull(obj2)

USA           True
China         True
Germany       True
Japan         True
Argentina    False
USSR          True
dtype: bool

In [23]:
ww2_series

China        2350
Germany     14400
Japan       23556
USA        235000
USSR        12300
dtype: int64

In [24]:
obj2

USA          235000
China          2350
Germany       14400
Japan         23556
Argentina       NaN
USSR          12300
dtype: float64

In [26]:
obj2.name = "Sample name"
obj2

USA          235000
China          2350
Germany       14400
Japan         23556
Argentina       NaN
USSR          12300
Name: Sample name, dtype: float64

In [28]:
obj2.index.name = 'Countries'

In [29]:
obj2.values

array([ 235000.,    2350.,   14400.,   23556.,      nan,   12300.])

In [30]:
obj2

Countries
USA          235000
China          2350
Germany       14400
Japan         23556
Argentina       NaN
USSR          12300
Name: Sample name, dtype: float64