In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [15]:
nfl_frame = pd.read_clipboard(sep='\t+', engine='python')

In [16]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West
6,7,Baltimore Ravens,173,146,1,0.542,1996,320,AFC North
7,7,Minnesota Vikings,449,379,10,0.542,1961,838,NFC North
8,7,New York Giants,673,567,33,0.542,1925,"1,273",NFC East
9,10,Denver Broncos,456,386,10,0.541,1960,852,AFC West
10,11,Indianapolis Colts,494,433,7,0.533,1953,934,AFC South

In [17]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Divison'],
      dtype='object')

In [18]:
DataFrame(nfl_frame, columns = ['Team', 'Won', 'Lost'])

                    Team  Won  Lost
0          Chicago Bears  741   555
1         Dallas Cowboys  480   364
2      Green Bay Packers  720   547
3         Miami Dolphins  429   335
4   New England Patriots  462   381
5    San Francisco 49ers  520   436
6       Baltimore Ravens  173   146
7      Minnesota Vikings  449   379
8        New York Giants  673   567
9         Denver Broncos  456   386
10    Indianapolis Colts  494   433

In [19]:
DataFrame(nfl_frame, columns = ['Team', 'Won', 'Lost', 'Stadium'])

                    Team  Won  Lost  Stadium
0          Chicago Bears  741   555      NaN
1         Dallas Cowboys  480   364      NaN
2      Green Bay Packers  720   547      NaN
3         Miami Dolphins  429   335      NaN
4   New England Patriots  462   381      NaN
5    San Francisco 49ers  520   436      NaN
6       Baltimore Ravens  173   146      NaN
7      Minnesota Vikings  449   379      NaN
8        New York Giants  673   567      NaN
9         Denver Broncos  456   386      NaN
10    Indianapolis Colts  494   433      NaN

In [20]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Divison'],
      dtype='object')

In [21]:
nfl_frame.Team

0            Chicago Bears
1           Dallas Cowboys
2        Green Bay Packers
3           Miami Dolphins
4     New England Patriots
5      San Francisco 49ers
6         Baltimore Ravens
7        Minnesota Vikings
8          New York Giants
9           Denver Broncos
10      Indianapolis Colts
Name: Team, dtype: object

In [22]:
nfl_frame.ix[3]

Rank                             4
Team                Miami Dolphins
Won                            429
Lost                           335
Tied                             4
Pct.                         0.561
First NFL Season              1966
Total Games                    768
Divison                   AFC East
Name: 3, dtype: object

In [23]:
nfl_frame['Stadium'] = 'Best'

In [24]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,Best
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,Best
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,Best
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,Best
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Best
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West,Best
6,7,Baltimore Ravens,173,146,1,0.542,1996,320,AFC North,Best
7,7,Minnesota Vikings,449,379,10,0.542,1961,838,NFC North,Best
8,7,New York Giants,673,567,33,0.542,1925,"1,273",NFC East,Best
9,10,Denver Broncos,456,386,10,0.541,1960,852,AFC West,Best
10,11,Indianapolis Colts,494,433,7,0.533,1953,934,AFC South,Best

In [26]:
nfl_frame.Stadium = np.arange(11)

In [27]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,0
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,1
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,2
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,3
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,4
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West,5
6,7,Baltimore Ravens,173,146,1,0.542,1996,320,AFC North,6
7,7,Minnesota Vikings,449,379,10,0.542,1961,838,NFC North,7
8,7,New York Giants,673,567,33,0.542,1925,"1,273",NFC East,8
9,10,Denver Broncos,456,386,10,0.541,1960,852,AFC West,9
10,11,Indianapolis Colts,494,433,7,0.533,1953,934,AFC South,10

In [28]:
stadiums = Series(['Cancer','Virgo'], index=[2,5])

In [29]:
stadiums

2    Cancer
5     Virgo
dtype: object

In [30]:
nfl_frame['Stadium'] = stadiums

In [31]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,NaN
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,NaN
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,Cancer
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,NaN
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,NaN
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West,Virgo
6,7,Baltimore Ravens,173,146,1,0.542,1996,320,AFC North,NaN
7,7,Minnesota Vikings,449,379,10,0.542,1961,838,NFC North,NaN
8,7,New York Giants,673,567,33,0.542,1925,"1,273",NFC East,NaN
9,10,Denver Broncos,456,386,10,0.541,1960,852,AFC West,NaN
10,11,Indianapolis Colts,494,433,7,0.533,1953,934,AFC South,NaN

In [32]:
del nfl_frame['Stadium']

In [33]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West
6,7,Baltimore Ravens,173,146,1,0.542,1996,320,AFC North
7,7,Minnesota Vikings,449,379,10,0.542,1961,838,NFC North
8,7,New York Giants,673,567,33,0.542,1925,"1,273",NFC East
9,10,Denver Broncos,456,386,10,0.541,1960,852,AFC West
10,11,Indianapolis Colts,494,433,7,0.533,1953,934,AFC South

In [34]:
data = {'City': ['Kaunas', 'Vilnius', 'Klaipeda'], 'Population': [234,546,123]}

In [35]:
data

{'City': ['Kaunas', 'Vilnius', 'Klaipeda'], 'Population': [234, 546, 123]}

In [36]:
city_frame = DataFrame(data)

In [37]:
city_frame

       City  Population
0    Kaunas         234
1   Vilnius         546
2  Klaipeda         123