In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index=['A','B', 'C', 'D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [4]:
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [6]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=5)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     5
dtype: float64

In [7]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

In [8]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [11]:
ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [12]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A','B','D','E','F'], columns=['col1', 'col2', 'col3', 'col4', 'col5'])

In [13]:
dframe

       col1      col2      col3      col4      col5
A -1.428296  1.785515  0.196278 -0.324005  0.610485
B  0.721886  1.013816 -0.155429  0.767335  0.804234
D  0.128693  1.546671 -0.398616 -0.246625 -1.334390
E  1.582157 -2.109784  0.607148 -0.479489  1.420793
F -0.160681  1.120022  0.772913  0.924192 -1.548036

In [14]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [17]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [18]:
dframe2

       col1      col2      col3      col4      col5
A -1.428296  1.785515  0.196278 -0.324005  0.610485
B  0.721886  1.013816 -0.155429  0.767335  0.804234
C       NaN       NaN       NaN       NaN       NaN
D  0.128693  1.546671 -0.398616 -0.246625 -1.334390
E  1.582157 -2.109784  0.607148 -0.479489  1.420793
F -0.160681  1.120022  0.772913  0.924192 -1.548036

In [19]:
dframe2.reindex(columns = new_columns)

       col1      col2      col3      col4      col5  col6
A -1.428296  1.785515  0.196278 -0.324005  0.610485   NaN
B  0.721886  1.013816 -0.155429  0.767335  0.804234   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.128693  1.546671 -0.398616 -0.246625 -1.334390   NaN
E  1.582157 -2.109784  0.607148 -0.479489  1.420793   NaN
F -0.160681  1.120022  0.772913  0.924192 -1.548036   NaN

In [20]:
dframe

       col1      col2      col3      col4      col5
A -1.428296  1.785515  0.196278 -0.324005  0.610485
B  0.721886  1.013816 -0.155429  0.767335  0.804234
D  0.128693  1.546671 -0.398616 -0.246625 -1.334390
E  1.582157 -2.109784  0.607148 -0.479489  1.420793
F -0.160681  1.120022  0.772913  0.924192 -1.548036

In [21]:
dframe.ix['A']

col1   -1.428296
col2    1.785515
col3    0.196278
col4   -0.324005
col5    0.610485
Name: A, dtype: float64

In [22]:
dframe.ix['A','col1']

-1.4282964742967137

In [23]:
dframe.ix[0,0]

-1.4282964742967137

In [26]:
dframe.ix[['A','B']]

       col1      col2      col3      col4      col5
A -1.428296  1.785515  0.196278 -0.324005  0.610485
B  0.721886  1.013816 -0.155429  0.767335  0.804234

In [27]:
dframe.ix[['A','B','C','D','E','F'], new_columns]

       col1      col2      col3      col4      col5  col6
A -1.428296  1.785515  0.196278 -0.324005  0.610485   NaN
B  0.721886  1.013816 -0.155429  0.767335  0.804234   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.128693  1.546671 -0.398616 -0.246625 -1.334390   NaN
E  1.582157 -2.109784  0.607148 -0.479489  1.420793   NaN
F -0.160681  1.120022  0.772913  0.924192 -1.548036   NaN