In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
import pandas.util.testing as tm; tm.N = 3

def unpivot(frame):
    N, K = frame.shape
    
    data = {
        'value': frame.values.ravel('F'),
        'variable': np.asarray(frame.columns).repeat(N),
        'date': np.tile(np.asarray(frame.index), K)
    }
    
    return DataFrame(data, columns=['date', 'variable', 'value'])

dframe = unpivot(tm.makeTimeDataFrame())

In [3]:
dframe

         date variable     value
0  2000-01-03        A -0.140798
1  2000-01-04        A -0.297818
2  2000-01-05        A -0.429355
3  2000-01-03        B -0.735048
4  2000-01-04        B  1.178420
5  2000-01-05        B -0.479679
6  2000-01-03        C  0.097663
7  2000-01-04        C -1.551340
8  2000-01-05        C  0.085217
9  2000-01-03        D -0.121095
10 2000-01-04        D -0.325018
11 2000-01-05        D -0.303123

In [4]:
tm.makeTimeDataFrame()

                   A         B         C         D
2000-01-03 -0.086657  0.600964  0.224384 -0.958893
2000-01-04  0.948314 -0.779758 -0.344803 -1.467470
2000-01-05  0.096370 -0.077274 -1.563110 -0.018093

In [5]:
dframe_piv = dframe.pivot('date', 'variable', 'value')

In [6]:
dframe_piv

variable           A         B         C         D
date
2000-01-03 -0.140798 -0.735048  0.097663 -0.121095
2000-01-04 -0.297818  1.178420 -1.551340 -0.325018
2000-01-05 -0.429355 -0.479679  0.085217 -0.303123

In [7]:
dframe_piv.describe()

variable         A         B         C         D
count     3.000000  3.000000  3.000000  3.000000
mean     -0.289324 -0.012103 -0.456153 -0.249745
std       0.144466  1.038899  0.948480  0.111951
min      -0.429355 -0.735048 -1.551340 -0.325018
25%      -0.363587 -0.607364 -0.733061 -0.314070
50%      -0.297818 -0.479679  0.085217 -0.303123
75%      -0.219308  0.349370  0.091440 -0.212109
max      -0.140798  1.178420  0.097663 -0.121095