In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
dframe = DataFrame({
        'k1': list('XXYYZ'),
        'k2': ['aplha','beta','alpha','beta','alpha'],
        'dataset1': np.random.randn(5),
        'dataset2': np.random.randn(5)
    })
dframe

   dataset1  dataset2 k1     k2
0 -0.058543  1.543586  X  aplha
1  1.338718 -1.387011  X   beta
2  0.051144 -0.288811  Y  alpha
3 -1.009878  2.193338  Y   beta
4  2.091315  0.584267  Z  alpha

In [3]:
group1 = dframe['dataset1'].groupby(dframe['k1'])
group1

In [4]:
group1.mean()

k1
X    0.640088
Y   -0.479367
Z    2.091315
Name: dataset1, dtype: float64

In [5]:
cities = np.array(['NY','LA','LA','NY','NY'])
months = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [20]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X   0.640088  0.078287
Y  -0.479367  0.952264
Z   2.091315  0.584267

In [21]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  aplha -0.058543  1.543586
   beta   1.338718 -1.387011
Y  alpha  0.051144 -0.288811
   beta  -1.009878  2.193338
Z  alpha  2.091315  0.584267

In [22]:
dframe.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

In [29]:
for name,group in dframe.groupby('k1'):
    print("Group name: {0}".format(name))
    print(group)
    print('\n')

Group name: X
   dataset1  dataset2 k1     k2
0 -0.058543  1.543586  X  aplha
1  1.338718 -1.387011  X   beta


Group name: Y
   dataset1  dataset2 k1     k2
2  0.051144 -0.288811  Y  alpha
3 -1.009878  2.193338  Y   beta


Group name: Z
   dataset1  dataset2 k1     k2
4  2.091315  0.584267  Z  alpha

In [32]:
for (k1,k2), group in dframe.groupby(['k1','k2']):
    print('Key = {0} Key2 = {1}'.format(k1,k2))
    print(group)
    print('\n')

Key = X Key2 = aplha
   dataset1  dataset2 k1     k2
0 -0.058543  1.543586  X  aplha


Key = X Key2 = beta
   dataset1  dataset2 k1    k2
1  1.338718 -1.387011  X  beta


Key = Y Key2 = alpha
   dataset1  dataset2 k1     k2
2  0.051144 -0.288811  Y  alpha


Key = Y Key2 = beta
   dataset1  dataset2 k1    k2
3 -1.009878  2.193338  Y  beta


Key = Z Key2 = alpha
   dataset1  dataset2 k1     k2
4  2.091315  0.584267  Z  alpha

In [33]:
group_dict = dict(list(dframe.groupby('k1')))

In [34]:
group_dict

{'X':    dataset1  dataset2 k1     k2
 0 -0.058543  1.543586  X  aplha
 1  1.338718 -1.387011  X   beta, 'Y':    dataset1  dataset2 k1     k2
 2  0.051144 -0.288811  Y  alpha
 3 -1.009878  2.193338  Y   beta, 'Z':    dataset1  dataset2 k1     k2
 4  2.091315  0.584267  Z  alpha}

In [35]:
group_dict['X']

   dataset1  dataset2 k1     k2
0 -0.058543  1.543586  X  aplha
1  1.338718 -1.387011  X   beta

In [36]:
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes, axis=1)))
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0 -0.058543  1.543586
 1  1.338718 -1.387011
 2  0.051144 -0.288811
 3 -1.009878  2.193338
 4  2.091315  0.584267, dtype('O'):   k1     k2
 0  X  aplha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [37]:
dataset2_group = dframe.groupby(['k1','k2'])['dataset2']
dataset2_group.mean()

k1  k2
X   aplha    1.543586
    beta    -1.387011
Y   alpha   -0.288811
    beta     2.193338
Z   alpha    0.584267
Name: dataset2, dtype: float64

In [38]:
dframe

   dataset1  dataset2 k1     k2
0 -0.058543  1.543586  X  aplha
1  1.338718 -1.387011  X   beta
2  0.051144 -0.288811  Y  alpha
3 -1.009878  2.193338  Y   beta
4  2.091315  0.584267  Z  alpha